xsd/SmartApplianceEnabler-1.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2017 Axel Müller <axel.mueller@avanux.de>
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, write to the Free Software Foundation, Inc.,
  ~ 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
  -->

<xs:schema targetNamespace="http://github.com/camueller/SmartApplianceEnabler/v1.2"
           xmlns:sae="http://github.com/camueller/SmartApplianceEnabler/v1.2"
           xmlns="http://github.com/camueller/SmartApplianceEnabler/v1.2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="Appliances">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Configuration" type="ConfigurationType" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="Appliance" type="ApplianceType" minOccurs="1" maxOccurs="unbounded" />
                <xs:element name="Connectivity" type="ConnectivityType" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="ApplianceID">
            <xs:selector xpath="sae:Appliance"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <!-- (Force)Schedule id/idref : id is optional! -->
        <xs:unique name="ScheduleID">
            <xs:selector xpath="sae:Appliance/sae:Schedule" />
            <xs:field xpath="@id" />
        </xs:unique>
        <xs:keyref name="ForceScheduleIDRef" refer="ScheduleID">
            <xs:selector xpath="sae:Appliance/sae:StartingCurrentSwitch/sae:ForceSchedule" />
            <xs:field xpath="@idref" />
        </xs:keyref>
        <!-- PulseReceiver id/idref -->
        <xs:key name="PulseReceiverID">
            <xs:selector xpath="sae:Connectivity/sae:PulseReceiver" />
            <xs:field xpath="@id" />
        </xs:key>
        <xs:keyref name="S0ElectricityMeterNetworkedIDRef" refer="PulseReceiverID">
            <xs:selector xpath="sae:Appliance/sae:S0ElectricityMeterNetworked" />
            <xs:field xpath="@idref" />
        </xs:keyref>
        <!-- ModbusTCP id/idref -->
        <xs:key name="ModbusTcpID">
            <xs:selector xpath="sae:Connectivity/sae:ModbusTCP" />
            <xs:field xpath="@id" />
        </xs:key>
        <xs:keyref name="ModbusElectricityMeterIDRef" refer="ModbusTcpID">
            <xs:selector xpath="sae:Appliance/sae:ModbusElectricityMeter" />
            <xs:field xpath="@idref" />
        </xs:keyref>
        <xs:keyref name="ModbusSwitchIDRef" refer="ModbusTcpID">
            <xs:selector xpath="sae:Appliance/sae:ModbusSwitch" />
            <xs:field xpath="@idref" />
        </xs:keyref>
    </xs:element>

    <xs:complexType name="ConfigurationType">
        <xs:attribute name="param" type="xs:string" use="required" />
        <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="ApplianceType">
        <xs:sequence>
            <xs:element name="AlwaysOnSwitch" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Switch" type="SwitchType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ModbusSwitch" type="ModbusSwitchType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="HttpSwitch" type="HttpSwitchType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="StartingCurrentSwitch" type="StartingCurrentSwitchType" minOccurs="0" maxOccurs="unbounded" />
            <xs:choice>
                <xs:element name="S0ElectricityMeter" type="S0ElectricityMeterType" minOccurs="0" maxOccurs="1" />
                <xs:element name="S0ElectricityMeterNetworked" type="S0ElectricityMeterNetworkedType" minOccurs="0" maxOccurs="1" />
                <xs:element name="ModbusElectricityMeter" type="ModbusElectricityMeterType" minOccurs="0" maxOccurs="1" />
                <xs:element name="HttpElectricityMeter" type="HttpElectricityMeterType" minOccurs="0" maxOccurs="1" />
            </xs:choice>
            <xs:element name="Schedule" type="ScheduleType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="SwitchType">
        <xs:attribute name="gpio" type="xs:int" use="required" />
        <xs:attribute name="reverseStates" type="xs:boolean" use="optional" />
    </xs:complexType>

    <xs:complexType name="ModbusSwitchType">
        <xs:attribute name="idref" type="xs:NCName" use="required" />
        <xs:attribute name="slaveAddress" type="xs:int" use="required" />
        <xs:attribute name="registerAddress" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="HttpSwitchType">
        <xs:attribute name="onUrl" type="xs:string" use="required" />
        <xs:attribute name="offUrl" type="xs:string" use="required" />
        <xs:attribute name="username" type="xs:string" use="optional" />
        <xs:attribute name="password" type="xs:string" use="optional" />
        <xs:attribute name="contentType" type="xs:string" use="optional" />
        <xs:attribute name="onData" type="xs:string" use="optional" />
        <xs:attribute name="offData" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="StartingCurrentSwitchType">
        <xs:sequence>
            <xs:element name="Switch" type="SwitchType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ModbusSwitch" type="ModbusSwitchType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="HttpSwitch" type="HttpSwitchType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ForceSchedule" type="DayTimeframeConditionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="powerThreshold" type="xs:int" use="optional" />
        <xs:attribute name="startingCurrentDetectionDuration" type="xs:int" use="optional" />
        <xs:attribute name="finishedCurrentDetectionDuration" type="xs:int" use="optional" />
    </xs:complexType>

    <xs:complexType name="S0ElectricityMeterType">
        <xs:attribute name="gpio" type="xs:int" use="required"/>
        <xs:attribute name="pinPullResistance" type="PinPullResistanceType" use="optional"/>
        <xs:attribute name="impulsesPerKwh" type="xs:int" use="required"/>
        <xs:attribute name="measurementInterval" type="xs:int" use="optional"/>
    </xs:complexType>

    <xs:complexType name="S0ElectricityMeterNetworkedType">
        <xs:attribute name="idref" type="xs:NCName" use="required" />
        <xs:attribute name="impulsesPerKwh" type="xs:int" use="required"/>
        <xs:attribute name="measurementInterval" type="xs:int" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="PinPullResistanceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PULL_DOWN" />
            <xs:enumeration value="PULL_UP" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ModbusElectricityMeterType">
        <xs:attribute name="idref" type="xs:NCName" use="required" />
        <xs:attribute name="slaveAddress" type="xs:int" use="required" />
        <xs:attribute name="registerAddress" type="xs:string" use="required" />
        <xs:attribute name="pollInterval" type="xs:int" use="optional"/>
        <xs:attribute name="measurementInterval" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="HttpElectricityMeterType">
        <xs:attribute name="url" type="xs:string" use="required" />
        <xs:attribute name="username" type="xs:string" use="optional" />
        <xs:attribute name="password" type="xs:string" use="optional" />
        <xs:attribute name="contentType" type="xs:string" use="optional" />
        <xs:attribute name="data" type="xs:string" use="optional" />
        <xs:attribute name="powerValueExtractionRegex" type="xs:string" use="optional" />
        <xs:attribute name="factorToWatt" type="xs:float" use="optional" />
        <xs:attribute name="pollInterval" type="xs:int" use="optional"/>
        <xs:attribute name="measurementInterval" type="xs:int" use="optional"/>
    </xs:complexType>

    <xs:complexType name="ScheduleType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:sequence>
                <xs:element name="DayTimeframe" type="DayTimeframeType" minOccurs="1" />
                <xs:element name="ConsecutiveDaysTimeframe" type="ConsecutiveDaysTimeframeType" minOccurs="0" />
            </xs:sequence>
            <xs:sequence>
                <xs:element name="ConsecutiveDaysTimeframe" type="ConsecutiveDaysTimeframeType" minOccurs="1" />
            </xs:sequence>
        </xs:choice>
        <xs:attribute name="id" type="xs:NCName" use="optional" />
        <xs:attribute name="minRunningTime" type="xs:long" use="required" />
        <xs:attribute name="maxRunningTime" type="xs:long" use="optional" />
    </xs:complexType>

    <xs:complexType name="DayTimeframeConditionType">
        <xs:sequence>
            <xs:element name="Start" type="TimeOfDayType" minOccurs="1" maxOccurs="1" />
            <xs:element name="End" type="TimeOfDayType" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="idref" type="xs:NCName" use="required" />
    </xs:complexType>

    <xs:complexType name="DayTimeframeType">
        <xs:sequence>
            <xs:element name="Start" type="TimeOfDayType" minOccurs="1" maxOccurs="1" />
            <xs:element name="End" type="TimeOfDayType" minOccurs="1" maxOccurs="1" />
            <xs:element name="DayOfWeek" type="xs:int" minOccurs="0" maxOccurs="7" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ConsecutiveDaysTimeframeType">
        <xs:sequence>
            <xs:element name="Start" type="TimeOfDayOfWeekType" minOccurs="1" maxOccurs="1" />
            <xs:element name="End" type="TimeOfDayOfWeekType" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimeOfDayType">
        <xs:attribute name="hour" type="xs:int" use="required"/>
        <xs:attribute name="minute" type="xs:int" use="required"/>
        <xs:attribute name="second" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="TimeOfDayOfWeekType">
        <xs:attribute name="dayOfWeek" type="xs:int" use="required"/>
        <xs:attribute name="hour" type="xs:int" use="required"/>
        <xs:attribute name="minute" type="xs:int" use="required"/>
        <xs:attribute name="second" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="ConnectivityType">
        <xs:sequence>
            <xs:element name="PulseReceiver" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:NCName" use="required" />
                    <xs:attribute name="port" type="xs:int" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="ModbusTCP" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:NCName" use="required" />
                    <xs:attribute name="host" type="xs:string" use="required" />
                    <xs:attribute name="port" type="xs:int" use="optional" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>